/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

header {
    background-color: #0b4905;
    color: white;
    text-align: left;
    padding: 1em 0;
}

h1, h2 {
    padding: 1em;
    margin: 0.5em 0;
}

/* Profile section */
#profile {
    text-align: left; 
    border-radius: 50%;
}

/* Goals section */
#goals {
    padding: 1em;
    border-radius: 1em;
    display: flex;
    float:right;
}

#goals ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Links section */
#links {
    padding: 1em;
    display: flex;    
}

#links ul {
    float:right;
    list-style-type: none;
    padding-left: 0;
}

#links li {
    margin: 0.5em 0;
}

#links a {
    text-decoration: none;
    color:#0b4905;
}



/* Responsive design */
@media (min-width: 600px) {
    #profile, #goals, #links {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 900px) {
    #profile, #goals, #links {
        width: 60%;
    }
}
